nbproject/private/retriever/localhost_8000/src/bg/fmi/xmltools/xsd/resources/myXSD.xsd

<?xml version="1.0"?>

<!DOCTYPE xs:schema SYSTEM "http://www.w3.org/2001/XMLSchema.dtd"[
    <!ATTLIST xs:schema xmlns:leni CDATA #IMPLIED>
]>

<xs:schema xmlns="http://www.leni.com/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.leni.com/"
           version="1.0">

    <xs:element name="Person" type="PersonType"/>

    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>